#addEventModal, #assignShiftModal, #lateSettingsModal {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 30px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-20px);
}

#lateSettingsForm label {
  margin-bottom: 0 !important;
}

.modal-content {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 800px;
  min-width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-body {
  background-color: #ffffff;
  max-width: auto;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9ecef;
  width: 100%;
}

.modal-header h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.cancel-btn {
  position: static;
  margin: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.modal-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.modal-form .input-group label {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #313131;
}

.modal-form .input-group input, 
.modal-form .input-group select, 
.modal-form .input-group textarea,
select#user-filter-select {
  background-color: var(--white) !important;
  border: 1px solid var(--border-color) !important;
  padding: 8px 13px !important;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 16px !important;
  color: var(--alt-black) !important;
  border-radius: 10px !important;
  width: 100% !important;
}

.user-filter-container {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
  gap: 10px;
}

.modal-content .step.active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 100px;
  gap: 10px;
}

.modal-content .step.active .number {
  background-color: var(--primary-color);
  height: 40px !important;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--white);
  border-radius: 100px;
}

.shift-type-templates button {
  padding: 5px 10px;
  font-size: 14px;
  background: #f1f5f9;
  border-radius: 5px;
}

.shift-type-templates button:hover, .shift-type-templates button:active {
  background: #d7e4ff;
  color: var(--primary-color);
}

ul.selectedUsers {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 7px;
  box-shadow: inset 6px 6px 21px #ebebeb, inset -6px -6px 21px #ffffff;
  border-radius: 12px;
}

li.selected-user-item {
  padding: 5px 10px;
  background: #d7e4ff;
  color: var(--primary-color);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
}

.step.active {
  color: var(--primary-color);
}

.event-bar-custom {
  border-left: 4px solid;
  padding-left: 4px;
  border-radius: 2px;
  font-weight: bold;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.view-toggle-buttons {
  position: relative;
  vertical-align: middle;
  background: var(--white);
  border-radius: 100px;
  padding: 7px;
  box-shadow: inset 0 0 25px -15px #313131ba;
}

div#calendar-content .card-body {
  padding: 0 !important;
}

.card-body {
    padding-bottom: 60px !important;
}

button#calendar-view-btn.active, button#timeline-view-btn.active {
  background-color: #3cbd2730 !important;
  border-radius: 100px !important;
  color: var(--accent-color) !important;
  border-color: transparent !important;
}

button#timeline-view-btn, button#calendar-view-btn {
  text-align: center !important;
  padding: 10px 20px !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 14px !important;
  background: none !important;
  position: relative !important;
  z-index: 2 !important;
  transition: color 0.3s ease !important;
  font-weight: 500 !important;
  border-color: transparent !important;
}

.holiday-cell .fc-event-title {
  font-weight: bold;
  color: black;
  padding: 2px;
}

.regular-holiday {
  border-left: 3px solid #FFD700 !important;
}

.special-holiday {
  border-left: 3px solid #FFA500 !important;
}

.fc-daygrid-day.holiday-day .fc-daygrid-day-number {
  font-weight: bold;
  text-decoration: underline;
}

.holiday-legend {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.legend-box {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.timeline-control-panel {
    padding: 20px 20px 5px !important;
}

div#timeline-container {
    border: none !important;
    padding: 20px;
}

.vis-timeline.vis-bottom.vis-ltr {
    border-radius: 10px !important;
}

.vis-text.vis-major.vis-day12.vis-may.vis-current-month.vis-monday.vis-odd div {
    font-size: 20px !important;
    font-weight: 800 !important;
    color: #1F5497 !important;
}

.vis-panel.vis-top {
    padding-left: 10px !important;
}

.timeline-navigation button {
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin-top: 20px !important;
    padding: 8px 14px !important;
    border-radius: 100px !important;
}

.timeline-navigation button:nth-child(1) {
    left: 20px !important;
    transform: translate(0%, -50%) !important;
}

.timeline-navigation button:nth-child(2) {
    background-color: #1F5497 !important;
}

.timeline-navigation button:nth-child(3) {
    left: unset !important;
    right: 20px !important;
    transform: translate(0%, -50%) !important;
}
